# Ignoriere sensible Dateien oder Ordner global
.env
.htaccess
*.log
*.bak

# Composer/Vendor
status/vendor/
main/vendor

# Lokale Entwicklungsdateien
*.sh

# Private Konfig oder Uploads
main/private/
status/private/
