{% extends "layout.twig" %}

{% block title %}Status Übersicht{% endblock %}

{% block content %}
    <h1>Statusübersicht</h1>
    <p>Diese Seite bietet dir eine Übersicht über den aktuellen Status wichtiger Dienste von Kev-Network.</p>
    <p>Wähle in der Sidebar einen Bereich aus (z. B. DynDNS oder Jellyfin), um Details zu sehen.</p>
{% endblock %}
